.sidebar{
    position: relative;
    left:20px;
    width:300px;
    height:auto;
}
.hover{
    width:200px;
}
.hover:hover{
background-color:rgb(99, 100, 104);
}

#selectedKey{
    color:#3578e5;
    width:100%
}

#unselectedKey{
    width:100%
    
}

a{
    text-decoration: none;
}
.a_container{
    height:30px;
    line-height:30px;
    margin:0px;
    position: relative;
    cursor: pointer;
    
}
.tab_li_light{
    color:black;
}
.tab_li_dark{
    color:white;
}
#unselected_a{
    height:30px;
    line-height:30px;
    font-size:20px;
}
#selected_a{
    color:#3578e5;
    height:30px;
    line-height:30px;
    font-size:20px;
}
.noshowlist::after{
    background-image: url('./arrow.png');
    background-size: 2rem 2rem;
    background-position: 50%;
    content: " ";
    display: inline-block;
    height: 1.25rem;
    width: 1.25rem;
    position: absolute;
    top:4px;
    left:200px;
    transform:rotate(-90deg);
    transition: 0.5s;
}
.showlist:after{
    background-image: url('./arrow.png');
    background-size: 2rem 2rem;
    background-position: 50%;
    content: " ";
    display: inline-block;
    height: 1.25rem;
    width: 1.25rem;
    position: absolute;
    top:4px;
    left:200px;
    transition: 0.5s;
}
.hide{
    display: none;
}