$font-color-function:#82AAFF;
$font-color-punctuation:#C792EA;
$font-color-string:#C3E88D;
$font-color-number:#F78C6C;
$font-color-blue2:#89DDFF;
$font-color-plain:#BFC7D5;
$font-color-tag:#FF5572;
$font-color-attr:#FFCB6B;
$font-color-light:#F5F6F7;
$font-color-black:#1C1E21;
$font-color-darkblue:#292D3E;
$font-color-url:#3578E5;
$font-color-footer:#303846;
.punctuation{
    color:$font-color-punctuation;
    letter-spacing: 2px;
}
.operator{
    color:$font-color-blue2;
}
.function{
    color:$font-color-function;
}
.plain{
    color:$font-color-plain;
}
.keyword{
    color:$font-color-plain;
    font-style:italic ;
}
.number{
    color:$font-color-number;
}
.string{
    color:$font-color-string;
}
.attr{
    color:$font-color-attr;
}
.tag{
    color:$font-color-tag;
}
.url{
    color:$font-color-url;
    cursor:pointer;
}
article{
    min-width:300px;
    width:800px;
    position: relative;
    left: 6.5em;;
    margin:30px 0 0 0;
}
h1{
    font: {
        size:48px;
    }
    color:$font-color-black;
    margin:0 0 40px 0;
}
h2{
    font: {
        size:32px;
    }
    margin:0 0 20px 0;
}
p{
    font-size: 16px;
    margin:0 0 20px 0;
}
.codeBlock{
    width:100%;
    background-color: $font-color-darkblue;
    border-radius: 0.5rem;
    margin:5px 0px5px 0px;
    padding:10px 0px 10px 0px;
    .copy-button{
        position: absolute;
        left:700px;
        cursor: pointer;
        z-index:1;
        display:none;
        color:$font-color-light;
        border-radius: 0.1rem;
        border:none;
        background-color: $font-color-black;
        transition: 0.5s;
    }
    &:hover .copy-button{
        display:initial;
    }
}
span{
    margin: 5px 0 5px 0;
    word-spacing: 3px;
}
.code-line{
    padding:3px 0px 3px 0px;
    position: relative;
}
.article_container{
    box-sizing: border-box;
    width:70%;
    margin:0px;
}
.editpage{
    color:$font-color-url;
    position: relative;
    left:4.3em;
    font-size:1.5em;
    margin:50px 0 50px 0;
    cursor:pointer;
    &:hover{
       text-decoration: underline;
    }
}
.page_nav_container{
    height:200px;
    width:700px;
    padding: 0 20px 0 20px;
    display: flex;
    flex-direction: row;
    position: relative;
    left:8em;
}
.left_page_nav{
    box-sizing: border-box;
    height:80px;
    margin:0 5px 0 5px;
    width:50%;
    border:1px solid grey;
    border-radius: 0.5rem;
    cursor:pointer;
    transition: 0.3s;
    &:hover{
        border:1px solid $font-color-url;
    }
    p{
        position: relative;
        left:1.5em;
        top:5px;
    }
    a{
        position: relative;
        left:1.5em;
        font-size:18px;
        color:$font-color-url;
    }
}
.right_page_nav{
    box-sizing: border-box;
    height:80px;
    margin:0 5px 0 5px;
    width:50%;
    border:1px solid grey;
    border-radius: 0.5rem;
    cursor:pointer;
    transition: 0.3s;
    &:hover{
        border:1px solid $font-color-url;
    }
    p{
        position: relative;
        left:250px;
        top:5px;
    }
    a{
        position: relative;
        left:250px;
        font-size:18px;
        color:$font-color-url;
    }
}

