.sidebar {
    position: relative;
    padding-left: 20px;
    width: 250px;
    height: auto;

}

.hover {
    width: 200px;
}

.hover:hover {
    background-color: rgba(242, 242, 242, 1);
}

#selectedKey {
    color: #3578e5;
    width: 100%
}

#unselectedKey {
    width: 100%
}

a {
    text-decoration: none;
}

.a_container {
    height: 30px;
    line-height: 30px;
    margin-right: 0;
    padding: 0;
    position: relative;
    cursor: pointer;
    width: 250px;

}

.tab_li_light {
    color: black;
}

.tab_li_dark {
    color: white;
}

#unselected_a {
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    width:100%;
}
#unselected_a
#selected_a:hover{
    background-color: rgba(242, 242, 242, 1);
}
#selected_a {
    color: #3578e5;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    width:100%;
}

.noshowlist::after {
    background-image: url('./arrow.png');
    background-size: 2rem 2rem;
    background-position: 50%;
    content: " ";
    display: inline-block;
    height: 1.25rem;
    width: 1.25rem;
    position: absolute;
    top: 4px;
    right: 10px;
    transform: rotate(-90deg);
    transition: 0.5s;
}

.showlist:after {
    background-image: url('./arrow.png');
    background-size: 2rem 2rem;
    background-position: 50%;
    content: " ";
    display: inline-block;
    height: 1.25rem;
    width: 1.25rem;
    position: absolute;
    top: 4px;
    right: 10px;
    transition: 0.5s;
}

.hide {
    display: none;
}